header {
  background: black;
  color: white;
  font-size: 5vw;
  font-family: monospace;
  text-align: center;
  padding: 2vw 1vw;
  font-weight: bold;
}

nav {
  background: deepskyblue;
  margin: 1vw 0;
}

nav li {
  list-style-type: none;
  display: inline-block;
  font-family: tahoma;
  color: white;
  font-size: 3vw;
  padding: 1vw 2.4vw;
}

nav li:hover {
  background: black;
  color: deepskyblue;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
}
