body {
  margin: 0;
  $main_width: 75vw;
  $sections_in_row: 3;

    main {
      display: flex;
      width: $main_width;
      margin: 5vw auto;
      padding: 2vw 0;
      flex-wrap: wrap;
      border: 2vw solid red;

          section {
            width: $main_width / ($sections_in_row + 1);
            border: 0.2vw solid black;
            display: flex;
            flex-direction: column;
            margin: 1vw 2.9vw;
            transition: box-shadow 0.5s;

            &:hover {
              box-shadow: 0 0 1vw black;
            }

            h4 {
              text-align: center;
            }

            div.image {
              height: 15vw;
              background: {
                size: 75% 75%;
                position: center center;
                repeat: no-repeat;
              }
            }

            span {
              text-align: center;
              font-size: 1.5vw;
              color: red;
              font-weight: bold;
            }

              @each $pos, $category, $quantity in
              (1, desktops, 12), (2, notebooks, 18),
              (3, smartphones, 5), (4, smartwatches, 23) {
                &:nth-of-type(#{$pos}) {
                  h4 {
                      &:before {
                        content: '#{$category}';
                        font: {
                          family: tahoma;
                          size: 1.5vw;
                        }
                    }
                  }
                  div.image {
                    background-image: url(../../images/gadgets/#{$category}.png);
                    }
                  span {
                    &:before {
                      content: 'Only #{$quantity} ';
                    }
                    @if $quantity < 10 {
                      &:after {
                        content: ' Take yours before its too late!';
                      }
                    }
                  }
                }
              }
          }
    } 
}
