body {
  margin: 0;
}

body section {
  background: deepskyblue;
  display: flex;
  flex-direction: column;
}

body section li {
  list-style-type: none;
  padding: 1.5vw 1vw;
  font-size: 1.8vw;
  font-family: Georgia;
}

body section li:hover {
  background: #0099cc;
  cursor: pointer;
}

body section li:hover > i {
  opacity: 1;
}

body section li:hover > i:nth-of-type(1) {
  transition: opacity 0.5s ease-in 0s;
}

body section li:hover > i:nth-of-type(2) {
  transition: opacity 0.5s ease-in 1s;
}

body section li:hover > i:nth-of-type(3) {
  transition: opacity 0.5s ease-in 2s;
}

body section li:hover > i:nth-of-type(4) {
  transition: opacity 0.5s ease-in 3s;
}

body section li:hover > i:nth-of-type(5) {
  transition: opacity 0.5s ease-in 4s;
}

body section li i {
  opacity: 0;
}
