body {
  margin: 0;

  section {
    background: deepskyblue;
    display: flex;
    flex-direction: column;

    li {
      list-style-type: none;
      padding: 1.5vw 1vw;
      font: {
        size: 1.8vw;
        family: Georgia;
      }
    }
  }
}
