body {
  margin: 0;
}

body section {
  background: deepskyblue;
  display: flex;
  flex-direction: column;
}

body section li {
  list-style-type: none;
  padding: 1.5vw 1vw;
  font-size: 1.8vw;
  font-family: Georgia;
}
