button {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
  padding: 3vw 2vw;
  position: relative;
  overflow: hidden;
  border: none;
  font-family: helvetica;
  font-size: 3.4vw;
}

span {
  position: absolute;
  width: 0;
  height: 0;
  transition: all 0.4s linear;
}

span.top {
  border-bottom: 1px solid rgba(214, 25, 180, 1);
}

button:hover span.top, button:hover span.bottom {
  width: 100%;
}

span.top, span.left {
  top: 0;
  left: 0;
}

span.right, span.bottom {
  right: 0;
  bottom: 0;
}

span.left {
  border-right: 1px solid rgba(214, 25, 180, 1);
}

button:hover span.left, button:hover span.right {
  height: 100%;
}

span.right {
   border-left: 1px solid rgba(214, 25, 180, 1);
}

span.bottom {
  border-top: 1px solid rgba(214, 25, 180, 1);
}
