$hamburg_text: 'Hamburg center as it is shown from binnenalster view.';
$home_text: 'Me looking at the sky of mundsburg before flying to Greece';
$rome_text: 'View outside from Caesars Palace in Italy and its own capital, Rome';
$sofia_text: 'Dont really remember what i ve done there!';
$kobenhavn_text: 'Highly aristocratic, wonderful and expensive as hell. One of the best trips ever though';
$santorini_text: 'Standard classic picturesque view from above. Jens knows already his next destination';
$beach_text: 'Next destination that is coming is maldives! Be there soon!';
