input {
  margin: 5vw;
  width: 45vw;
  font-size: 3.2vw;
}

body {
  text-align: center;
}

button {
  background: red;
  color: white;
  border: none;
  font-family: tahoma;
  font-size: 2.5vw;
  padding: 2vw;
  transition: all 0.5s linear;
}

form button {
  background: orange;
}

button:hover {
  cursor: pointer;
  background: black;
  color: red;
}

form button:hover {
  color: orange;
}

form {
  margin-bottom: 2vw;
}

button:focus {
  outline: none;
}

section {
  display:flex;
  flex-direction: column;
}

section li {
  display: flex;
  list-style-type: none;
  opacity: 0;
  background: deepskyblue;
  font-family: helvetica;
  font-size: 3.5vw;
  text-align: left;
  overflow: hidden;
  transition: opacity 2s linear;
  margin-bottom: 1vw;
  justify-content: space-between;
}

section li button {
  float: right;
}

section li span {
  align-self: center;
}

.fadeIn {
  opacity: 1;
}
