body {
  margin: 0;
}

section {
  width: 50%;
  border: 0.1vw solid black;
  text-align: center;
  display: none;
}

aside, section {
  margin-top: 1vw;
}

aside {
  flex-grow: 2;
}

section {
  flex-grow: 1;
}

.active {
  display: block;
}

section h3, section p {
  margin: 1vw;
  font-family: 'Franklin Gothic';
  font-size: 2.2vw;
}

section p {
  font-size: 1.5vw;
}

section img {
  width: 35%;
  height: 25vw;
}

main {
  margin-top: 15vw;
  display: flex;
}

aside li {
  list-style-type: none;
  font-size: 2.2vw;
  font-family: 'Franklin Gothic';
  background: blue;
  color: white;
  padding: 2.1vw 0.5vw;
}

aside li:hover {
  cursor: pointer;
  background: deepskyblue;
}

.selected {
  background: red;
}
