.fb {
  background: purple;
  color: white;
}

span {
  display: none;
  position: relative;
  top: 2vw;
  margin: 1vw;
  font-size: 1.5vw;
  padding: 1.5vw;
}

.tw {
  background: deepskyblue;
  color: white;
}

textarea {
  padding: 1vw;
  font-size: 1.4vw;
  resize: none;
  width: 35vw;
}
