header {
  height: 45vw;
  background:{
    image: url(../images/forest.jpg);
  }
  @extend %background_stick;
  display: flex;
  flex-direction: column;
  justify-content: center;

    h2, h5 {
      margin: 0;
      font: {
        family: Cousine;
        weight: 700;
      }
      text: {
        align: center;
        shadow: 0.2vw 0.1vw black;
      }
      color: white;
      padding: 1vw;
    }

    h2 {
      font: {
        size: 4.2vw;
      }
    }

    h5 {
      font: {
        size: 2.5vw;
      }
    }
}
