section, div, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  border: 1px solid black;
  display: grid;
  grid: repeat(5, 10vw) / repeat(4, 18.5vw) auto;
  grid-gap: 1vw 2vw;
  padding: 1vw;
}

section > div {
  background: orange;
}

div:first-of-type {
  background: cyan;
  grid-column: 1 / span 4;
}

div:nth-of-type(2) {
  background: brown;
}

div:nth-of-type(3) {
  background: green;
  grid-row: 2 / span 3;
}

div:nth-of-type(4) {
  background: yellow;
  grid-area: 2 / 2 / span 3 / span 3;
}

div:nth-of-type(5) {
  background: red;
  grid-row: 2 / span 2;
}

div:nth-of-type(7) {
  background: blue;
}

div:last-of-type {
  background: rebeccapurple;
  grid-column: 2 / span 4;
}
